<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155307/Nyinyi/light-bulb_faio3f.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@400;500;600;700;800&family=Comfortaa:wght@300;400;500;600;700&family=DM+Sans:wght@400;600;800&family=Gloria+Hallelujah&family=Gochi+Hand&family=Yanone+Kaffeesatz:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Így tanulnak ők</title>
</head>
<body>

    <div class="top-banner">
        <div class="branding">
            <div class="brand-logo"><img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155307/Nyinyi/light-bulb_faio3f.svg" alt=""></div>
            <div class="brand-name"><h1>Így tanulnak ők</h1></div>
        </div>
        <div class="contact">
            <div class="question-logo"><img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155307/Nyinyi/question-mark_qvwci4.png" alt=""></div>
            <div class="question-text"><h1>Kérdésed van? Írj nekünk!</h1></div>
        </div>
        <div class="email">
            <div class="email-logo"><img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155308/Nyinyi/email_spgtvd.svg" alt=""></div>
            <div class="email-text"><h1>igytanulnakok@gmail.com</h1></div>
        </div>
    </div>

    <nav class="navbar">
        <ul class="nav-links">
            <img class="nav-logo" src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155307/Nyinyi/light-bulb_faio3f.svg" alt="">
            <li class="hover-underline-animation nav-link"><a href="https://igytanulnakok.blog.hu/">Blog</a></li>
            <li class="hover-underline-animation nav-link"><a class="services" href="">Miben tudunk segíteni?</a></li>
            <li class="hover-underline-animation nav-link"><a class="services" href="">Klub</a></li>
            <li class="hover-underline-animation nav-link"><a class="about" href="">Rólunk</a></li>
            <li class="hover-underline-animation nav-link"><a class="connect" href="">Kapcsolat</a></li>
            </ul>
            <div class="hamburger">
                <img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155309/Nyinyi/icon-menu_zt8ol6.svg" alt="">
              </div>
              <div class="hamburger-close hidden">
                <img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155307/Nyinyi/icon-menu-close_astdwf.svg" alt="">
              </div>
        </nav>
    </nav>

    <div class="site-container">
        <div class="section-one">
           <!--  <div class="circle-1"></div>
            <div class="circle-2"></div> -->
            <div class="col-left">
                <h2>Mindenki okos valamiben</h2>
                <p>Szeretnéd segíteni gyermeked tanulását? Szeretnéd, hogy egyedül is könnyen vegye az akadályokat?
                     Hogy jókedvvel üljön le tanulni és kihozza magából a legjobbat?</p>
                <a class="hover-button services" href="">Igen!</a>
            </div>
            <div class="col-right">
                <img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155313/Nyinyi/mother-daughter_ddhdh5.jpg" alt="">
            </div>
        </div>
        <div class="section-two">
            <div class="col-left">
                <div class="quote"><img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155307/Nyinyi/light-bulb-small_wjdvor.svg" alt=""><p>...mert mindenkiben ott lakozik a potenciál, csak felszínre kell hozni.</p></div>
                <h2>Amiben hiszünk</h2>
                <p>Habár az iskolában sok tantárgy van, arról mégsem esik szó, hogy hogyan is kell tanulni. <br> Pedig a tanulás is egy külön tudományterület, éppúgy, mint a matematika. <br>
                    Mi hiszünk abban, hogy nem kell órákat tölteni a tanulással – lehet rövidebb idő alatt is hatékonyabban tanulni. Hogy mindenkiben  több van, mint amennyit most mutat, akár ötös tanuló, akár kettes. Hogy a tudatos tanulás élvezetes, nem pedig teher és nyűg. <br> <br> Hiszünk a hosszútávú és alkalmazható tudás fontosságában. Hogy a tudás nem csak a dolgozatig kell tartson, hiszen a későbbiekben a diákok hasznára válik, hozzájárul sikerességükhöz és kognitív képességeik, gondolkodásuk fejlődik, ha megfelelően tanulnak meg tanulni. 
                    A tanulás egy készség, amit a legfontosabb fejleszteni, hiszen számtalan ajtót nyithat meg.  <br><br> A siker kulcsa a hosszútávú és alkalmazható tudás és a fejlett gondolkodás.
                    Legtöbbször nincsenek fejlesztve az iskolások tanulási készségeik, így rejtve marad a tehetségük.
                    Megmutatjuk, hogyan is működik a tanulás, hogy a gyermeked a legtöbbet tudja kihozni magából a segítségeddel.
                    </p>
            </div>
            <div class="col-right">
                <img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155316/Nyinyi/books-apple_qghdt1.jpg" alt="">
            </div>
        </div>

        <div class="section-three-header"><h2>Így tanulnak ők csapat</h2></div>
        <div class="section-three"> 
            <div class="col-left">
                <h2>Kik vagyunk?</h2>
                <p>Egy pedagógus pár vagyunk, akik hisznek a tanulás fontosságában. Meg szeretnénk mutatni, hogy mennyi ajtót nyithat meg, és megbúvó készségeket, tehetséget tárhat föl, ha a gyermeked tanulásikészségei megfelelőek. Szeretnénk a terheiteket csökkenteni, és megmutatni, hogyan működik a tanulás helyesen, miért fontos és hogyan tudod gyerekeidet ebben segíteni, önállóságot kialakítani és a bennük lakozó tehetséget a felszínre hozni és ápolni.</p>
            </div>
            <div class="col-right">
                <img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155474/Nyinyi/group-study_lygtks.jpg" alt="">
            </div>
        </div>

        <!-- <div class="section-four-header"><h2>Miben tudunk segíteni?</h2></div>
        <div class="section-four"> 
            <div class="col-left">
                <img src="/img/note-paper.svg" alt="">
                <h2>Egyszemélyes konzultáció</h2>
                <p>Az egyszemélyes konzultáció 45-50 perces online alkalom.

                    Szülők számára segítséget tudunk nyújtani, a gyermeikkel kapcsolatos kérdésekben, például  tanulás, motiváció, önszabályozótanulás, tanulásoptimalizálás, nyelvtanulás, pályaorientáció, stb. témákban tudunk segíteni és iránytmutatást adni.
                    
                    Ha nem tudod még biztosan, miben lenne szükséged segítségre, e-mailben röviden ismertesd a problémát és megbeszéljük, hogyan tudunk segíteni.</p>
                    <a class="hover-button-alternate" href="">Időpontot kérek</a>
            </div>
            <div class="col-right">
                <img src="/img/lightbulb-alt.svg" alt="">
                <h2>Napközi szülőknek klub</h2>
                <p>Hamarosan...

                    Ne maradj le, értesülj először a klub megnyitásáról! Itt tudsz feliratkozni:</p>
                    <a class="hover-button-alternate" href="">Feliratkozom</a>
                    <p>A Napközi Szülőknek Klub minden tudatos szülő barátja, ugyanis a tanulás és a tanulsikészségek, motiváció, tehetség, stb. témaköreit fogja összefoglalni, Havonta új előadások, kérdezz-felek és interjúk kerülnek a csoportba.</p>
            </div>
        </div> -->

        <div class="section-five-header"><h2>Miben tudunk segíteni?</h2></div>
        <div class="section-five"> 
            <div class="col-left">
                <img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155307/Nyinyi/note-paper_tdj2qj.svg" alt="">
                <h2>Egyszemélyes konzultáció</h2>
                <p>Az egyszemélyes konzultáció egy 45-50 perces online alkalom.

                    Szülők számára segítséget tudunk nyújtani, a gyermeikkel kapcsolatos kérdésekben, például tanulás, motiváció, önszabályozótanulás, tanulásoptimalizálás, nyelvtanulás, pályaorientáció, stb. témákban.
                    
                    Ha nem tudod még biztosan, miben lenne szükséged segítségre, e-mailben röviden ismertesd a problémát és megbeszéljük, hogyan tudunk segíteni.</p>
                    <a class="hover-button-alternate" href="https://forms.gle/ESZTYo1EsLmvXVHE9">Időpontot kérek</a>
            </div>
            <div class="col-middle">
                <img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155308/Nyinyi/lightbulb-alt_ulzyot.svg" alt="">
                <h2>Napközi szülőknek klub</h2>
                <p>Hamarosan...

                    Ne maradj le, értesülj először a klub megnyitásáról! Itt tudsz feliratkozni:</p>
                    <a class="hover-button-alternate" href="https://forms.gle/TymH2EMihwCk8gpc8
                    ">Feliratkozom</a>
                    <p>A Napközi Szülőknek Klub minden tudatos szülő barátja. Az első edukatív klub, mely a szülőknek segít gyermekeik tanulásának támogatásában.

                        Megtudod, hogyan működik a tanulás, a motiváció, miért fontos az önszabályozó tanulás és ezáltal hozzájárulsz gyermeked boldogulásához, hiszen biztosítjuk számodra a tudást, mellyel hatékonyan segítheted őt.

                        Havonta új előadások, kérdezz-felek és interjúk kerülnek a csoportba.
                    </p>
            </div>
            <div class="col-right">
                <img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155308/Nyinyi/email_spgtvd.svg" alt="">
                <h2>Hírlevél</h2>
                <p>Iratkozz fel ingyenes hírlevelünkre, hogy értékes cikkeket kaphass és elsőként értesülj akciókról, kedvezményekről és egyéb hasznos tartalmakrók. :)</p>
                    <a class="hover-button-alternate" href="https://forms.gle/TymH2EMihwCk8gpc8
                    ">Feliratkozom</a>
            </div>
        </div>
        <div class="section-six">
            <div class="col-left">
                <h2>Kapcsolat</h2>
                <p>Időponttal kapcsolatos és egyéb  kérdések, megkeresések, egyéni kérések:
                    <span>hello@igytanulnakok.hu</span>
                </p>
                <div><h2 class="colored-header">Várunk szeretettel :)</h2></div>
            </div>
            <div class="col-right">
                <img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1693155311/Nyinyi/contact_dbactk.jpg" alt="">
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>